<div class="container">
  <h2>404</h2>
  <h2>Oops! Page Not Found</h2>
  <h1>{{message}}</h1>
  <button id="goToLoginPage" class="btn btn-secondary"><i
      class="fa-solid fa-house"
    ></i></button>
</div>