<div class="signup-container">
  <form>
    <div class="signup-header">Login User</div>
    <label for="mobile">Mobile:</label>
    <input
      type="number"
      min="0"
      id="mobile"
      name="mobile"
      class="signup-input"
      placeholder="Enter mobile"
      required
    />

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      class="signup-input"
      placeholder="Enter password"
    />

    <div class="buttons">
      <button id="login" class="btn">Login</button>
      <button id="signUpMove" class="btn">Sign up</button>
    </div>
  </form>
</div>