<div id="chat-container">
  <button><i
      class="fa-solid fa-house"
      onclick="goBackToViewPageFromMessage()"
    ></i></button>
  <div id="messages">
    {{#each allMessages}}
      <div class="message" style="background-color: {{bgColor}}">
        <p>{{message}}</p>
        <i
          class="fa-solid fa-trash"
          onclick="deleteMessage('{{id}}')"
        ></i></div>
    {{/each}}
  </div>

  <div id="input-container">
    <input type="text" id="message-input" placeholder="Type a message..." />
    <button onclick="sendMessage()">Send</button>
  </div>
</div>